* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.bg {
  background-color: #dcccad;
}

section {
  height: 30em;
  width: 30em;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.7em;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

#board {
  border: 10px solid #ba8f5e;
}

#start,
#win {
  width: 15em;
  height: 15em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  padding: 1em;
  font-size: 1.2em;
  background-color: bisque;
  border: 1px solid #050a00;
}

#win {
  display: none;
  height: 10vmin;
}

#start button {
  display: block;
  margin: auto;
}

#instruction span {
  margin-bottom: 0.5em;
}

aside {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  z-index: 1;
  width: 21.5em;

  justify-content: space-between;
  align-items: center;

  color: white;
  font-size: 1.4em;
}

aside button {
  padding: 0.25em 0.5em;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #42b983;
  color: #42b983;
  background-color: transparent;
}

aside button:hover {
  background-color: #42b984;
  color: #333;
}

#win button,
#start button {
  padding: 0.5em 1em;
  margin-top: 1em;
  font-size: 1em;
  cursor: pointer;
}

div {
  background-color: #ba8f5e;
}

div:nth-of-type(odd) {
  background-color: #dcccad;
}

section#red div {
  opacity: 0;
  background-color: red;
}

div[onclick] {
  opacity: 0;
}

.fake {
  display: none;
}

#knight {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  grid-row-start: 5;
  grid-column-start: 6;
}

#knight img {
  width: 100%;
  height: 100%;
}

@media (max-width: 43em) {
  section {
    height: 22em;
    width: 22em;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  aside {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;

    width: 15.7em;

    font-size: 1.4em;
  }

  #start,
  #win {
    width: 15em;
    height: 15em;
  }
}
